[submodule "blender-gen-dataset"]
	path = blender-gen-dataset
	url = git@github.com:SherAndrei/blender-gen-dataset.git
[submodule "MVSNet"]
	path = MVSNet
	url = https://github.com/YoYo000/MVSNet.git
[submodule "NeTO"]
	path = NeTO
	url = https://github.com/xxlong0/NeTO
