[submodule "blender-gen-dataset"]
	path = blender-gen-dataset
	url = git@github.com:SherAndrei/blender-gen-dataset.git
[submodule "MVSNet"]
	path = MVSNet
	url = https://github.com/YoYo000/MVSNet.git
[submodule "NeTO"]
	path = NeTO
	url = https://github.com/xxlong0/NeTO
[submodule "idr"]
	path = idr
	url = https://github.com/lioryariv/idr.git
[submodule "idr-cpu"]
	path = idr-cpu
	url = https://github.com/eduardramon/idr
[submodule "TensoRF"]
	path = TensoRF
	url = https://github.com/apchenstu/TensoRF.git
